<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="scss/main.scss" />
</head>

<body>
    <div id="editor">
        <div class="header"></div>
        <div class="menu">
            <button>Player spawn</button>
            <button>Wall line</button>
            <button>Wall</button>
            <button>Pillar</button>
            <hr>
            <button title="alt + scroll" @click="zoom(8)">Zoom in</button>
            <button title="alt + scroll" @click="zoom(-8)">Zoom out</button>
        </div>
        <div class="viewport" @mousewheel="onScroll">
            <div class="level" :style="gridSizeStyle" @click="onViewportClick">

                <level-object v-for="obj in objects" :key="obj.id" :obj="obj" :tile_size="tile_size"></level-object>

                <div class="grid-background" :style="gridSizeStyle">
                    <div class="row" v-for="y in rows" :key="y">
                        <div class="col" v-for="x in cols" :key="x">
                            <div class="cell" :style="gridCellStyle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer"></div>
    </div>

    <template id="level-object-vue-template">
        <div class="level-object" :style="objStyle">
            <div class="control scale up"></div>
            <div class="control scale down"></div>
            <div class="control scale left"></div>
            <div class="control scale right"></div>
        </div>
    </template>

    <script src="js/editor.js"></script>
</body>

</html>