<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.scss" />
</head>

<body>
    <div id="editor">

        <!-- Menu -->
        <div class="menu">
            Menu
        </div>

        <!-- Viewport -->
        <div class="viewport" :class="viewportClass" @contextmenu="preventDefault">
            <div class="level" :style="levelStyle">

                 <!-- Background grid -->
                 <div class="grid"
                    ref="grid"
                    @mousedown="drawObjectBegin($event)"
                    @mousemove="drawObject($event)"
                    @mouseup="drawObjectEnd($event)">
                    <div class="grid--row" v-for="y in grid.rows" :key="y">
                        <div class="grid--cell"
                            v-for="x in grid.cols"
                            :key="x"
                            :style="cellStyle"
                            :title="`(${x-1},${y-1})`"></div>
                    </div>
                </div>

                <!-- Level objects -->
                <div class="level-object" v-for="rect in levelRects"
                    :key="rect.obj.id"
                    :style="rect.style"></div>
            </div>
        </div>

    </div>
    <script src="js/editor.js"></script>
</body>

</html>