#editor {
    $rows: 3;
    $cols: 4;

    height: 100%;
    display: grid;
    grid-gap: 8px;
    grid-template-rows: 64px 1fr 64px;
    grid-template-columns: repeat($cols, auto);

    .header {
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: $cols + 1;
    }
    .footer {
        grid-row: $rows ;
        grid-column-start: 1;
        grid-column-end: $cols + 1;
    }

    .menu {
        grid-row-start: 2;
        grid-row-end: $rows;
        grid-column: 1;
    }

    .viewport {
        grid-row-start: 2;
        grid-row-end: $rows;
        grid-column-start: 2;
        grid-column-end: $cols + 1;
    }
}
