.menu {
    button {
        display: block;
        padding: 8px;
        margin-bottom: 8px;
        cursor: pointer;
        color: #ccc;
        background-color: #444;
        border: 0;
        outline: 0;
        width: 100%;

        &.active {
            font-weight: bold;
            color: white;
            background-color: #666;
        }

        &:hover {
            color: white;
            background-color: #666;
        }
    }
}
